<!DOCTYPE html>

<html>
     <h3>Welcome {{ account.user }}</h3>
     {% if account.user.uploaded_videos %}
          {% for video in account.user.uploaded_videos.all %}
               <li>{{ video.title }}</li>
               <li>{{ video.embed_url | safe}}</li>
          {% endfor %}
     {% else %}
          <h3>No videos Published</h3>
     {% endif %}

     <div>
          <a href="{% url 'video_create' %}" class="btn btn-outline-light nav-link">
               Create Video
          </a>
     </div>
     <div>
          <a href="{% url 'history' %}" class="btn btn-outline-light nav-link">
               History
          </a>
     </div>
</html>
